<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n"/>
    </layout>
  </appender>
  
	<appender name="LogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="/tmp/proai.log"/>
		<layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n"/>
		</layout>
	</appender>

  <category name="fedora.services.oaiprovider">
    <priority value="DEBUG" />
  </category>

  <category name="fedora.client.FedoraClient">
    <priority value="DEBUG" />
  </category>
  
  <category name="proai">
    <priority value="DEBUG" />
  </category>
  
  <category name="org.apache.commons.httpclient.HttpMethodBase">
    <priority value="ERROR" />
  </category>

  <root>
    <priority value="WARN" />
    <appender-ref ref="LogFile"/>
    <!--
    <appender-ref ref="STDOUT"/>
    -->
  </root>
  
</log4j:configuration>
